@import url('https://fonts.google.com/specimen/Big+Shoulders+Display')
@import url('https://fonts.google.com/specimen/Lexend+Deca')

*{
   padding: 50px;
   margin: 50px;
   box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 95%);
    width: 100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-content: center;

}
.header{
    border: 2px solid black;
    width: 100px;
}

.container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}
.box{
  width: 270px;
  padding: 15px;
  min-height: 450px;
}

.sedans{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
}

.suvs{
    background-color: hsl(184, 100%, 22%);
    
}
.luxury{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; 
}
h2{
    color: hsl(0, 0%, 95%);
    margin-top: 30px;
    margin-left: 30px;
    padding: 10px 0;
    font-family: 'Big Sholders Display', sans-serif;
    font-weight: 700;
    font-size: 40px;
}
p{
  color: hsla(0, 0%, 100%, 0.75);
  margin-top: 30px; 
  margin-left: 30px;
  margin-right: 36px;
  font-size: 15px;
  line-height: 24px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  padding: 10px 0 60px 0;
}
.sedanimg{
    margin-top: 30px;
    margin-left: 30px;
}
.luxuryimg{
    margin-top: 30px;
    margin-left: 30px;
}
.suvimg{
    margin-top: 30px;
    margin-left: 30px;
}
#learnmore1{
    color: hsl(31, 77%, 52%);
}
#learnmore2{
    color: hsl(184, 100%, 22%);
}
#learnmore3{
    color: hsl(179, 100%, 13%)
}
.container button{
    outline: 0;
    margin-left: 30px;
    border-radius: 36px;
    padding: 10px;
    background-color: white;
    border: 1px solid white;
    margin-bottom: 40px;
}
.footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: black;
   text-align: center;
}             
 @media screen and (max-width: 375px) {
   .row {
     flex-direction: column;
   }
 }
